<app-article-img  [urlImage]="'/images/covers/Carpinteero.jpg'" [titleArticle]="'¿Quiénes somos?'"
  [texts]="['Somos fabricantes de muebles en madera con más de 20 años de experiencia en el sector. Nos especializamos en diseñar y crear muebles personalizados, hechos a medida, que se adaptan a los gustos, necesidades y estilo de cada cliente.','Trabajamos únicamente con materiales de alta calidad y aplicamos técnicas artesanales que garantizan la durabilidad, elegancia y belleza de cada pieza.'

  ]">
</app-article-img>
<app-article-img  [urlImage]="'/images/covers/wood.jpg'"
  [texts]="['Nuestra empresa está ubicada en el Edén Tropical del Quindío, un lugar privilegiado por su riqueza natural. Nos enorgullece ofrecer un servicio cálido y cercano, siempre comprometidos con la satisfacción de quienes confían en nosotros.','Además, nuestra labor respeta el medio ambiente: utilizamos madera proveniente de árboles antiguos en proceso natural de deterioro o que han sido retirados de manera responsable, contribuyendo así a la preservación de nuestros bosques.','Cada mueble que creamos es más que un producto; es una pieza única con historia, alma y tradición, pensada para acompañarte durante toda la vida.'

  ]">
</app-article-img>

