/* =============================================================== Globals Configs =================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: linear-gradient(rgba(12, 1, 3, 0.912), rgba(0, 0, 0, 0.9));
    --color-secondary: #544f4a;
    --color-tertiary: #8d8580;
    --color-quaternary: #09f;
    --color-quinary: #000000;

    --color-text-primary: #000000;
    --color-text-secondary: #ffffff;
    --color-text-tertiary: #4a2c2a;
}

/* ================================================================ Texts Config ===================================================================== */
a {
    text-decoration: none;
    color: inherit;
}

h2,
h3,
h4,
h5,
h6 {
    font-family: "Acme", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: inherit;
}

.font-bebas {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

li {
    list-style: none;
}

p,
a,
li,
span {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    color: var(--color-text-primary);
}

/* ================================================================== Button global ================================================================= */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: var(--color-secondary);
    color: var(--color-text-secondary);
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;

    &:hover {
        background: var(--color-tertiary);
    }
}

/* ================================================================ Header and footer =============================================================== */

.bg-header,
.bg-footer{
    background: var(--color-primary);
    span{
        color: var(--color-text-secondary);
    }
}

div.background-image {
    max-width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(12, 1, 3, 0.912), rgba(0, 0, 0, 0.7)), url('/images/covers/coverBg.jpg') no-repeat top center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

app-nav {
    width: 50%;
}

section.header-paragraph {
    width: 100%;
    height: 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: end;

    p {
        color: var(--color-text-secondary);
        font-size: 2.8rem;
        width: 50%;
        text-align: center;
    }

}

/*================================================================= Button Whatsapp ==================================================================*/

app-button-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;

    img {
        width: 50px;
        height: 50px;
        &:hover{
            filter: drop-shadow( 0px 0px 20px #737272);
        }
    }
}

/*=================================================================== Categories ======================================================================*/
app-categories {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
    /* espacio entre tarjetas */
    padding: 16px;
}